---
layout: default
---

<div class="cover-container">
  <div class="cover-card">
    <img class="avatar" src="{{ '/assets/img/avatar.jpg' | relative_url }}" alt="avatar" onerror="this.style.display='none'">
    <h1 class="name">{{ site.author.name | default: "SorryMcDonald" }}</h1>
    <p class="bio">{{ site.author.bio | default: "全栈开发者 / 游戏爱好者" }}</p>

    <div class="social-links">
      <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      {% endif %}
      {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
      {% endif %}
    </div>

    <div class="nav-links">
      <a class="nav-btn" href="{{ '/blog/' | relative_url }}">
        <i class="fas fa-blog"></i> 博客
      </a>
      <a class="nav-btn" href="{{ '/game/' | relative_url }}">
        <i class="fas fa-gamepad"></i> 游戏
      </a>
      <a class="nav-btn" href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="fas fa-code"></i> 项目
      </a>
    </div>
  </div>
</div>
